/*************************************
General Styles
*************************************/

ul {
  list-style: none;
}

.wrapper {
  position: relative;
  background-color: white;
  margin-bottom: 150px;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding-top: 0;
}

h1 {
  padding-top: 30px;
}

/*************************************
Header Styles
*************************************/

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  position: relative;
  z-index: 200;
  width: 100%;
  background-color: rgba(34,149,24,0.99);
  padding-top: 0.5em;
  top: 0px;
  padding-bottom: 50px;
}

.logo {
  width: 100%;
  padding-left: 2px;
}

.nav {
  margin: 0;
  padding: 0;
  margin-right: 35px;
}

.nav a {
  display: block;
  color: white;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  text-decoration: none;
  border-bottom: 1px solid white;
}

#contribute {
  position: absolute;
  height: 40px;
  margin-top: 10px;
  right: 29%;
}


.cover-video {
  display: none;
  width: 100%;
  position: fixed;
  z-index: -10;
  top: 0px;
}

#down-arrow {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  width: 50px;

}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding-bottom: 50px;
}

.col-1, .col-2, .col-3 {
  width: 100%;
  text-align: justify;
}

.col img {
  max-width: 100%;
  border-top: 5px solid rgba(34,110,24,1);
}

.col-3 {
  margin-top: 75px;
}

/*************************************
Footer Styles
*************************************/

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
  height: 150px;
  background-color: lightgrey;
}

.footer-content {
  position: relative;
  height: 100%;
  top: 100;
}

.social {
  display: block;
  position: absolute;
  top: 1px;
  margin-left: calc(50% - 159.61px);
}

.phone {
  display: block;
  position: absolute;
  margin-left: calc(50% - 65.703px);
  top: 65px;
}

.email {
  display: block;
  position: absolute;
  margin-left: calc(50% - 92.4455px);
  top: 40px;
}

#copyright {
  display: inline;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
  position: absolute;
  margin-left: calc(50% - 143.1485px);
  bottom: 20px;
  font-size: .5em;
}

#legal {
  display: block;
  position: absolute;
  bottom: 4px;
  margin: 0;
  left: calc(50% - 403.67px);
  font-size: .5em;
  word-break: break-all;
  word-wrap: normal;

}

i {
  margin-left: 30px;
  margin-right: 30px;
  color: black;
}

#fb:hover i {
  color: #3C5A99;
}

#youtube:hover {
  color: #C8302A;
}

#instagram:hover {
  color: #D00055;
}




@media (min-width: 480px) {
  .main-header {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .nav {
    justify-content: space-around;
    flex-direction: row;
  }
  .nav a {
    margin-left: 20px;
    border: none;
  }
  .logo {
    align-self: center;
    max-width: 150px;
    padding-left: 20px;
  }
  #contribute {
    position: absolute;
    height: 40px;
    margin-top: 10px;
    right: 50px;
  }
  .cover-video {
    display: block;
  }
  #down-arrow {
    display: block;
  }
  .container {
    padding-top: 95px;
  }
  .columns {
    margin-top: 75px;
  }
  .col-1, .col-2 {
    width: 45%;
    text-align: justify;
  }
  .col-1 {
    margin-right: 10%;
  }
  #copyright {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0;
    position: absolute;
    margin-left: calc(50% - 143.1485px);
    bottom: 20px;
    font-size: .75em;
  }
  #legal {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    margin: 0;
    left: calc(50% - 403.67px);
    font-size: .75em;
  }
}
